<footer class="site-footer bg-light mt-auto">
  <div class="container">
    <nav class="mt-3 mb-4">
      <ul class="nav nav-pills nav-fill">
        {% for section in site.html_pages %}{% if section.nav %}
        <li class="nav-item"><a class="nav-link h3{% if page.url == section.url %} active{% endif %}" href="{{ section.url | relative_url }}">{% if section.nav == true %}{{ section.title }}{% else %}{{ section.nav }}{% endif %}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </nav>
    <div class="row align-items-center pb-5">
        <div id="footer-title" class="col-md">
          <a class="h5" href="{{ '/' | relative_url }}">{{ site.title }}</a>
          <br>
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">cc by-sa</a> {{ site.pub_year }} {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">{{ site.author }}</a>{% else %}{{ site.author }}{% endif %}
        </div>
        <div class="col-md">
          {% if site.search == true %}
          <script>
            function site_search() {
              var query = document.getElementById("site-search").value;
              window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
            }
          </script>
          <form class="form-inline my-2 my-lg-0 float-end" role="search" id="search" onsubmit="site_search(); return false;">
            <div class="input-group">
              <input id="site-search" class="form-control" type="text" placeholder="Search" aria-label="Search box">
              <button class="btn btn-secondary" type="submit">{% include icon.html icon="search" %}<span class="visually-hidden">submit search</span></button>
            </div>
          </form>
          {% endif %}
        </div>
    </div>
  </div>
</footer>
