{% comment %}

    Bootstrap accordion feature, https://getbootstrap.com/docs/4.6/components/collapse/#accordion-example

    e.g. --> {% include accordion.html title1="Example section" text1=example1 title2="Section two" text2=example2 title3="Section three" text3=example3 %}

    Options:
    - "title1", "title2", "title3" = title for each section of accordion (max three)
    - "text1", "text2", "text3" = text for each section of accordion (max three). You will probably want to capture the text using a Liquid capture, then use the variable to provide text to this include.
    - "open" = optional, by default is "false". Add "true" to have the first section of the accordion open.

{%- endcomment -%}
<div class="accordion mb-3" id="accordionInclude">
    <div class="card">
        <div class="card-header p-0" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-lg btn-light btn-block text-left rounded-0 px-4 py-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="{% if include.open == true %}true{% else %}false{% endif %}" aria-controls="collapseOne">
                    {{ include.title1 }}
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse{% if include.open == true %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionInclude">
            <div class="card-body">
                {{ include.text1 | markdownify }}
            </div>
        </div>
    </div>
    {% if include.title2 %}
    <div class="card">
        <div class="card-header p-0" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-lg btn-light btn-block text-left rounded-0 px-4 py-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{ include.title2 }}
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionInclude">
            <div class="card-body">
                {{ include.text2 | markdownify }}
            </div>
        </div>
    </div>
    {% endif %}
    {% if include.title3 %}
    <div class="card">
        <div class="card-header p-0" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-lg btn-light btn-block text-left rounded-0 px-4 py-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    {{ include.title3 }}
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionInclude">
            <div class="card-body">
                {{ include.text3 | markdownify }}
            </div>
        </div>
    </div>
    {% endif %}
</div>