<div class="container p-1">
    <a class="nav-title" href="{{ '/' | absolute_url }}"><span class="fas fa-wrench"></span> {{ site.title }}</a>
</div>

<nav class="border-bottom">
    <div class="container">
    <ul class="nav nav-tabs justify-content-end">
        {% for section in site.html_pages %}{% if section.nav == true %}
        <li class="nav-item"><a class="nav-link{% if page.url == section.url %} active{% endif %}" href="{{ section.url | absolute_url }}">{{ section.title }}</a></li>
        {% endif %}{% endfor %}
    </ul>
    </div>
</nav>
