/* add decorative borders  */
header {
    border-top: solid 4px $top-border;
    .nav-tabs {
        border-bottom: none;
    }
}
footer {
    border-top: solid 1px $top-border;
    .nav-link { 
        color: rgba(0,0,0,.5);
        &.active { 
            text-decoration: underline;
            color: rgba(0,0,0,.9);
        }
        &:hover {
            color: rgba(0,0,0,.7);
        }
    }
}
/* change default colors */
body {
    color: $text-color;
}
a {
    color: $link-color;
}
/* change container size for easier reading */
@media (min-width:576px){
    .container{max-width:540px}
}
@media (min-width:768px){
    .container{max-width:750px}
}
@media (min-width:992px){
    .container{max-width:$container-max}
}
@media (min-width:1200px){
    .container{max-width:$container-max}
}
