---
# front matter
---

// add color at page top
$top-border: #424242;

// Tweak body text and link color
$text-color: #111 !default;
$link-color: #2a7ae2 !default;

// limit container size to make reading easier
$container-max: 750px;

// Import partials.
@import
  "template", "custom"
;
